$inputField-color-success: $color-success !default;
$inputField-color-warning: $color-warning !default;
$inputField-color-error: $color-danger !default;
$inputField-color-placeholder: #aaa !default;
$inputField-color-text: $color-black !default;
$inputField-color-bg: $color-white !default;
$inputField-color-default: $color-black !default;
$inputField-color-icon: $inputField-color-bg !default;
$inputField-color-focus: $color-primary-1-normal !default;
$inputField-height: 48px !default;
$inputField-radius: $radius-default !default;

.inputField {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  color: $inputField-color-text;
  border: 1px solid $inputField-color-default;
  background-color: $inputField-color-bg;
  border-radius: $inputField-radius;
  height: $inputField-height;
  overflow: hidden;
  transition: all 0.15s ease-in;

  input {
    order: 2;
    flex-grow: 1;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    padding: 10px 15px;

    &:focus {
      outline: none;
    }

    &.required {
      font-weight: 700;
    }

    &[disabled] {
      background-color: #f1f1f1;
      border-color: #f1f1f1;
      color: #aaa;
    }

    // Placeholder
    &[placeholder] {
      &::-webkit-input-placeholder {
        color: $inputField-color-placeholder;
        line-height: 1;
        padding-top: 3px;
        text-overflow: ellipsis;
        transition: all 0.15s ease-out;
      }

      &:focus::-webkit-input-placeholder {
        opacity: 0;
        text-indent: 3px;
      }

      &::-moz-placeholder,
      &:-moz-placeholder {
        color: $inputField-color-placeholder;
        line-height: 1;
        padding-top: 3px;
        text-overflow: ellipsis;
        transition: all 0.15s ease-out;
      }

      &:focus::-moz-placeholder,
      &:focus:-moz-placeholder {
        opacity: 0;
        text-indent: 3px;
      }

      &:-ms-input-placeholder {
        color: $inputField-color-placeholder;
        line-height: 1;
        padding-top: 3px;
        text-overflow: ellipsis;
        transition: all 0.15s ease-out;
      }

      &:focus:-ms-input-placeholder {
        opacity: 0;
        text-indent: 3px;
      }
    }
  }

  .inputField-prefix,
  .inputField-suffix {
    transition: all 0.15s ease-in;
  }

  .inputField-prefix {
    display: flex;
    order: 1;
    flex-basis: $inputField-height;
    width: $inputField-height;
    justify-content: center;
    align-items: center;
    color: $inputField-color-icon;
    background-color: $inputField-color-default;
  }

  .inputField-suffix {
    display: flex;
    order: 3;
    flex-basis: $inputField-height;
    width: $inputField-height;
    justify-content: center;
    align-items: center;
    color: $inputField-color-text;
    background-color: transparent;

    &.inputField-icon-active {
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.inputField-focus {
    border: 1px solid $inputField-color-focus;

    .inputField-prefix {
      background-color: $inputField-color-focus;
    }
  }

  &.inputField-success {
    border-color: $inputField-color-success;

    .inputField-prefix {
      background-color: $inputField-color-success;
    }
  }

  &.inputField-danger {
    border-color: $inputField-color-error;

    .inputField-prefix {
      background-color: $inputField-color-error;
    }
  }

  &.inputField-warning {
    border-color: $inputField-color-warning;

    .inputField-prefix {
      background-color: $inputField-color-warning;
    }
  }

  &.inputField-type-password {
    input {
      font-family: monospace;
    }
  }
}
