// Variables
$navBar-color-bg: $color-black !default;
$navBar-color-text: $color-neutral-normal !default;
$navBar-color-hover: $color-primary-1-light !default;
$navBar-padding: 30px 10px !default;
$navBar-font-size: 1rem !default;
$navBar-height: 75px !default;

// Styles
.navBar {
  position: relative;
  background-color: $navBar-color-bg;
  display: flex;
  flex-grow: 1;
  height: $navBar-height;
  overflow: hidden;
  z-index: map-get($z-index, 'navBar');

  &.navBar-fixed {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
  }

  .navBar_logo {
    order: 1;
    flex-basis: auto;
    margin-left: 15px;

    a {
      display: block;
      text-indent: -99999px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
    }
  }

  .navBar_menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    order: 2;
    color: $navBar-color-text;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0 30px 0 0;

    & > li {
      display: flex;
      flex: 1;

      & > a {
        display: flex;
        flex: 1;
        color: $navBar-color-text;
        padding: $navBar-padding;
        transition: 0.15s ease-out;

        &:hover {
          color: $navBar-color-hover;
        }
      }
    }
  }
}
