// Variables
$sideBar-color-bg-default: transparent !default;
$sideBar-padding-default: 5px 10px !default;
$sideBar-border-radius: 3px !default;
$sideBar-font-size: 1rem !default;

// Styles
.sideBar {
  background-color: $sideBar-color-bg-default;

  ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    & > li {
      display: flex;
      flex-direction: column;
      transition: 0.3s ease-in-out;

      & > a,
      & > div {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: $sideBar-font-size;
        line-height: 1;
        border-radius: $sideBar-border-radius;
        padding: $sideBar-padding-default;
        transition: 0.3s ease-out;

        .icon {
          transition: 0.3s ease-out;
        }
      }

      & > div {
        font-weight: 700;

        .icon {
          opacity: 0.5;
        }

        &:hover {
          .icon {
            transform: translateY(5px);
            opacity: 1;
          }
        }
      }

      & > a {
        .icon {
          opacity: 0;
        }

        &:hover {
          .icon {
            transform: translateX(5px);
            opacity: 1;
          }
        }
      }

      & > ul {
        display: none;
        opacity: 0;
        transition: 0.3s ease-in-out;

        & > li > a {
          font-size: 0.9rem;
          padding-left: 20px;
        }
      }

      &.sideBar-active > ul {
        display: flex;
        opacity: 1;
      }
    }
  }
}