// Variables
$sideBar-color-bg-default: transparent !default;
$sideBar-color-bg-hover: $color-neutral-light !default;
$sideBar-padding-default: 10px !default;
$sideBar-padding-hover: 10px 10px 10px 15px !default;
$sideBar-border-radius: 3px !default;
$sideBar-font-size: 0.85rem !default;

// Styles
.sideBar {
  & > ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;

    & > li {
      display: flex;

      & > a {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: $sideBar-font-size;
        line-height: 1;
        background-color: $sideBar-color-bg-default;
        border-radius: $sideBar-border-radius;
        padding: $sideBar-padding-default;
        transition: 0.3s ease-out;

        .icon {
          opacity: 0;
          padding-right: 5px;
          transition: 0.3s ease-out;
        }

        &:hover {
          background-color: $sideBar-color-bg-hover;
          padding: $sideBar-padding-hover;

          .icon {
            opacity: 1;
            padding-right: 0;
          }
        }
      }
    }
  }
}