.uploadField {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 3px;
  cursor: pointer;

  &.uploadField-active {
    border-style: solid;
    background-color: #eee;
  }

  &.uploadField-rejected {
    border-style: solid;
    background-color: #ffdddd;
  }

  input {
    display: none;
  }

  p {
    margin: 20px 10px;
  }
}