.page-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 15px;
}

.page-layout .sideBar {
  -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
          flex-basis: 250px;
}

.page-layout .view-sideBar-content {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
