.buttonSet {
  display: flex;
  flex-direction: row;

  &.buttonSet-column {
    flex-direction: column;
  }

  & > .btn {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}